<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>work-drawlots</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="./css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900|Noto+Serif+TC:400,500,600,700,900" rel="stylesheet"/>
</head>
<body>

  <div id="app">
    <div class="wrap">
      <div class="main" :class="{'height-transtition':status.btnStartVisable===2 || status.btnStartVisable===3}">
        <!-- container-page1 -->
      <div class="container-page1" v-if="status.btnStartVisable===1">
        <h1 class="title">線上求籤。</h1>
        <div class="info">
          <div class="step">
            <h2 class="title-step">求籤步驟</h2>
            <ul class="list-unstyle">
              <li>① 請虔誠地在心中默念您的姓名、出生年月日、住址</li>
              <li>② 選擇欲請教的求籤類別後，誠心地在心中詳細說明</li>
              <li>③ 說明完後即可點選「開始求籤」按鈕進行線上求籤</li>
            </ul>
          </div>
          <div class="category">
            <h2 class="category-title">求籤類別</h2>
            <div class="select-list">
              <div class="s-group s-1" v-for="(item, key) in options" :key="key" :class="{'active-style':key===indexPrev}">
                <input type="radio" class="radio-btn"/>
                <label for="select" @click.prevent="selectOption(key)">{{ item }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-page2 -->
      <div class="container-page2 opacity-0" :class="{'opacity-transtition':status.btnStartVisable===2}" v-show="status.btnStartVisable===2">
        <div class="page2-inDiv">
          <div class="border-text border-text-position-lt">線</div>
          <div class="line-top"></div>
          <div class="border-text border-text-position-rt">上</div>
          <div class="line-bottom"></div>
          <div class="border-text border-text-position-lb">求</div>
          <div class="line-left"></div>
          <div class="border-text border-text-position-rb">籤</div>
          <div class="line-right"></div>
          <div class="result">
            <p class="fortune-num">第四十八籤</p>
            <p class="fortune">{{ fortuneResult }}</p>
            <p class="fortune-text">【戊辛】</p>
          </div>
        </div>
      </div>
      <!-- container-page3 -->
      <div class="container-page3" v-show="status.btnStartVisable===3">
          <div class="page2-inDiv">
            <div class="border-text border-text-position-lt">線</div>
            <div class="line-top"></div>
            <div class="border-text border-text-position-rt">上</div>
            <div class="line-bottom"></div>
            <div class="border-text border-text-position-lb">求</div>
            <div class="line-left"></div>
            <div class="border-text border-text-position-rb">籤</div>
            <div class="line-right"></div>
            <div class="sign-content">
              <div class="content-left">
                <p class="content-left-title">聖意</p>
                <p>遇貴者　訟和平　病驚險　莫求名</p>
                <p class="content-left-small-text">財物耗　婚宜停　逢寅字　事漸亨</p>
                <p class="content-left-title">解曰</p>
                <p>此籤家道不安　須防人口舌　怨恨臨門　財有失</p>
                <p>逢貴人提挈方保　漸亨不成　多口舌</p>
                <p>問婚訟平　病有驚　財物耗散　名利空虛</p>
                <p class="content-left-small-text">只宜守舊　不利遠行　防親人侵損也</p>
                <button class="btn-restart" @click="restart">重新求籤</button>
              </div>
              <div class="contetn-right">
                <div class="poem">
                  <p>全 家 誰 保 汝 重 歡</p>
                  <p>不 遇 虎 頭 人 一 喚</p>
                  <p>兄 弟 姻 親 那 得 安</p>
                  <p>登 山 涉 水 正 天 寒</p>
                </div>
                <p class="content-right-small-text">第 四 十 八 籤 ︻ 戊 辛 ︼ 中 吉</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container-btn-start" v-if="status.btnStartVisable===1">
      <div class="btn-start-div">
        <button class="btn-start" :disabled="!status.btnStartDisable" @click="startDrawLots">開始求籤</button>
      </div>
    </div>
  </div>
  </div>

</body>
</html>

<script>
var app = new Vue({
  el: '#app',
  data: {
    status: {
      btnStartDisable: false,
      btnStartVisable: 1
    },
    options:['網站上線','感情姻緣','事業工作','家庭生活','求財運勢','感情姻緣'],
    fortuneResult:'',
    indexPrev:-1
  },
  methods: {
    selectOption (key) {
      this.status.btnStartDisable = true
      console.log(this.status.btnStartDisable)
      console.log(key)
      this.indexPrev=key
    },
    startDrawLots () {
      const vm =this
      const fortunes = ['大吉','中吉','小吉','小凶','中兇','大凶']
      this.status.btnStartVisable = 2
      function ranFun(){
        return parseInt(Math.random()*6);
      }
      this.fortuneResult = fortunes[ranFun()]
      setTimeout(() => {
        vm.status.btnStartVisable = 3
        console.log(vm.status.btnStartVisable)
      }, 5000);
    },
    restart () {
      this.status.btnStartVisable = 1
      this.status.btnStartDisable = false
      this.indexPrev = -1
    }
  },
})
</script>